{% extends 'feed/base.html' %}

{% block content%}

    {%if messages%}
        <div class="alert alert-success" role="alert">
            {%for message in messages%}
                {{message}}
            {%endfor%}
        </div>
    {%endif%}
    
    <form method="post">
        {% csrf_token %}

        <div class = 'center'>
            <fieldset class = 'form-group'>
                <legend class = 'form-heading'>Change Password</legend>
                <div class="form-label-group" >
                    <label for="inputuser" class = 'label'>Old Password</label>
                    <input class='inputfield' type="password" id="inputuser" name="old_password" class="form-control" required autofocus>
                </div>
                <div class="form-label-group">
                    <label for="inputuser" class = 'label'>New Password</label>
                    <input class='inputfield' type="password" id="inputuser" name="new_password1" class="form-control" required>
                </div>
                <div class="form-label-group">
                    <label for="inputuser" class = 'label'>Confirm New Password</label>
                    <input class='inputfield' type="password" id="inputuser" name="new_password2" class="form-control" required>
                </div>
            </fieldset>
            <div class = "form-group">
                <button class = "button" type = "submit">Change Password</button>
                <br><br>
            </div>
        </div>

    </form>

{%endblock content%}