{% extends 'feed/base.html' %}
{%load static%}
{% block content%}

    {%if messages%}
        <div class="alert alert-success" role="alert">
            {%for message in messages%}
                {{message}}
            {%endfor%}
        </div>
    {%endif%}


    <div class = 'container'>
        <div class = 'col-sm-2'>
            <div class = 'media'>
                <img class = 'rounded-circle account-img img-fluid' src = "{{user.profile.image.url}}" alt = 'profile image' id="profileimg">
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <script>
            let img = document.getElementById('profileimg').src;
            let result = img.includes("dafault");
            let name =  `{{user.username}}`;
            if(result){
                document.getElementById('profileimg').src = `https://joeschmoe.io/api/v1/${name}`;
            }
        </script>
        <br>
        <div>
            <h3>@{{user.username}} <span style="font-size:16px; text-transform: uppercase;">{{user.first_name}} {{user.last_name}}</span></h3>
            {{user.email}}  
        </div>
        <div id="joined">JOINED AT: {{user.date_joined}}</div>
        
        <br><br>
        <div>
            <a href = "{%url 'profileupdate' %}"><button class = 'btn btn-outline-info'>Edit</button></a>
        </div>
        <br>

        <div class = 'card'>
            <div class = 'card-body'>
                {{user.profile.bio}}
            </div>
        </div>
        
        <br>
        <a href="{%url 'change_password' %}">Change paasword</a>
        

        <br>
        <br>
        <br>

        {% if posts_list %}
            <h3>RECENT POSTS:</h3>
        {% endif %}

        {%for post in posts_list %}
            <div class="card">
                <div class="card-header">
                    <p>{{post.datetime}}</p>
                </div>
                <div class="card-body">
                    <p class = "card-text"><h5>{{post.text}}</h5></p>
                
                    <a class= 'editdelete' href = '{%url 'postdelete' post.id %}' title='delete'><img src="{% static '../static/image/delete.png' %}"></a>
                    <a class= 'editdelete' href = '{%url 'postupdate' post.id %}' title='edit'><img src="{% static '../static/image/edit.png' %}"></a>
                </div>
                <form action = "{%url 'like_post' post.pk %}" method = 'POST'>
                    {% csrf_token %}
                    <button type='submit' class='btn btn-primary btn-sm' name='post_id' value = "{{post.id}}" style = 'margin-left:20px; margin-bottom:2px;''>Like </button> -
                     {{post.total_likes}} 
                    {% if post.total_likes < 2%}
                        <span>like</span>
                    {% else %}
                        <span>likes</span>
                    {% endif %}
                </form>
            </div>
            <br>
        
        {% endfor %}
    </div>

{%endblock content%}
