{% extends 'feed/base.html' %}
{%block content%}

    {%load static%}
    <form method = "POST">
        <div id="view_profile">
            <div class="row">
                <div class="col-md-8">
                    <div class="people-nearby">
                        <br><br>
                        <h3>All Users:</h3>
                        {%for curr_user in users%}
                            <div class="nearby-user">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <img src="{{curr_user.profile.image.url}}" alt="user" class="profile-photo-lg" id="profileimg">
                                    </div>

                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

                                    <script>
                                        let img = document.getElementById('profileimg').src;
                                        let result = img.includes("dafault");
                                        let name =  `{{user.username}}`;
                                        if(result){
                                            document.getElementById('profileimg').src = `https://joeschmoe.io/api/v1/${name}`;
                                        }
                                    </script>
                                    
                                    <div class="col-md-7 col-sm-7">
                                        <h5><div class="profile-link" style="color:#007bff">{{curr_user.first_name}} {{curr_user.last_name}}</div></h5>
                                        <p>@{{curr_user.username}}</p>
                                        <p class="text-muted">{{curr_user.profile.bio}}</p>
                                        <p class="text-muted">LAST LOGIN: {{curr_user.last_login}}</p>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        {%csrf_token%}
                                        <button class="btn btn-primary pull-right"><a href = "{% url 'show_profile' curr_user.username %}" style="color:white;">View Profile</a></button>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
            	</div>
        	</div>
        </div>
    </form>
{%endblock content%}
